.job-card-body{
    min-height: 320px;
    width: 300px;
    margin: 15px 1px;
    padding: 4px 2px;
    border-radius: 4px;
    background: white;
    color: black;
     box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.job-headings{
    min-height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-shrink:nowrap;
    gap: 4px;
}
.job-intial-logo{
    height:40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 900;
}

.company-name{
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
}

.info-container{
    margin-left: 10px;
    width: 95%;
     color: #000000;
     margin-top: 10px;
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.job-info{
    font-size: 18px;
    font-weight: 400;
}

.star{
    color: #6969ffc7;
    text-shadow: 1px 1px 1px #2a2acc;
    transform: scale(1);
    animation: glow 1s linear infinite;
}

@keyframes glow {
    0%{    
    color: #6969ffc7;
    text-shadow: 1px 1px 1px #2a2acc;
    transform: scale(1);
    }100%{
        color: #50cbfc;
       text-shadow: 1px 1px 1px #3fffff;
    }
}
.job-btn{
    height: 40px;
    width: 200px;
    background-color:#6969ffc7;
    border: none;
    font-size: 20px;
    font-weight: 400;
    border-radius: 2px;
    cursor: pointer;
    margin:10px 0;
    color: whitesmoke;
         &:hover{
            background-color: #2a2acc;
         }
}